/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5e4cc;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body, html {
  height:100%;
}

h1, h2 {
  color: #333;
}

#oval {
  display: block;
  border-radius: 50%;
  border: 1px solid black;
  left: 0px;
}

a {
  text-decoration: none;
  color: #333;
}

/* Header styles */
header {
  background-color: #d9c5a1;
  padding: 10px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

/* Main content styles */
main {
  flex: 1 0 auto;
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

/* Form styles */
form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  padding: 10px 20px;
  background-color: #6d5842;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color: #d9c5a1;
  padding: 10px;
  text-align: center;
  width: 100%;
  bottom: 0;
}

/* Text and image center */
.centerimg {
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width:15%;
  height:15%;
  left:10px;
}

.centertxt {
  text-align:center;
  padding-top: 10px;
}

#nyan-cat {
  position: absolute;
  top: 50px;
  max-width: 5%;
  max-height: 5%;
  left: -150px;
  display: none;
  z-index: 9999;
}

nav ul li:last-child {
  margin-left: auto;
}

nav ul li:last-child a {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

nav ul li:last-child a:hover {
  opacity: 1;
  color: red;
  animation: rainbow 1s infinite, wave 0.5s infinite;
}

@keyframes rainbow {
  0% {color: red;}
  14% {color: orange;}
  28% {color: yellow;}
  42% {color: lime;}
  57% {color: blue;}
  71% {color: indigo;}
  85% {color: violet;}
  100% {color: red;}
}

@keyframes rainbow2 {
  0% {background: red;}
  14% {background: orange;}
  28% {background: yellow;}
  42% {background: lime;}
  57% {background: blue;}
  71% {background: indigo;}
  85% {background: violet;}
  100% {background: red;}
}

@keyframes wave {
  0%, 50%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
}

.nyan-cat {
  position: absolute;
  top: -7px;
  left: -15px;
  width: 60px;
  height: auto;
  z-index: 9999;
}

#nyan-counter {
  position: fixed;
  right: 10px;
  top: 70px;
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 5px #ff0000, 0 0 10px #ff8000, 0 0 15px #ffff00, 0 0 20px #00ff00, 0 0 30px #00ffff, 0 0 40px #0000ff;
  opacity: 0;
  transition: opacity 1s;
  z-index: 9999;
}

#contact {
  display: flex;
  background-color: #d9c5a1; 
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(35vh - (30px)); 
}

#about h1 {
  padding-bottom: 20px;
  text-align: center;
}

#contact h2 {
  text-align: center;
}

#contact ul {
  list-style: none;
  padding: 0;
}

#contact ul li {
  margin: 10px;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  align-items: center;
}

#contact ul li label {
  margin-right: 210 px;
}

/* Portfolio Section Styles */
#portfolio {
  margin: 50px 0;
}
#portfolio h2{
  text-align:center;
  padding-bottom: 20px;
}

.carousel {
  display: flex;
  overflow: auto;
  align-items: center;
  height: calc(100%-60px);
  padding: 25px 0;
  flex-wrap: wrap;
  justify-content: center; 
}

.carousel-item a {
  display: block;
  overflow: hidden;
  width: calc(33.33% -40px);
  position: relative;
  height:  calc(33.33%-40px);
  border-radius: 10px;
} 

.carousel-item {
  border-radius: 10px;  
  overflow: visible;
  width: calc(33.33% - 40px);
  flex: 0 0 auto;
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  transition: transform 0.5s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.carousel-item img {
  width: 100%;
  vertical-align: top;
  height: 400px;
  object-fit: cover;
  transition: opacity 0.5s;
}

.carousel-item:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.carousel-item:hover img {
  opacity: 0.7;
}

.carousel-item:hover .carousel-caption {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 20px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
  border-radius: 15px; 
  font-family: 'Georgia', serif; 
  text-shadow: 2px 2px #000;
}

.header-rainbow {

  animation: rainbow2 1s linear infinite;
}

#portfolio, #about, #contact {
  display: none;
  overflow: auto;
}

#portfolio.active, #about.active, #contact.active {
  display: block;
}