/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5e4cc; /* Earthy tone background color */
}

h1, h2 {
  color: #333;
}

#oval {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: #333;
}

/* Header styles */
header {
  background-color: #d9c5a1;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

/* Main content styles */
main {
  margin-top: 60px; /* to push the content below the fixed header */
  padding: 20px;
}

section {
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

/* Form styles */
form label {
  display: block;
  margin-bottom: 5px;
}

form input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  padding: 10px 20px;
  background-color: #6d5842;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Footer styles */
footer {
  background-color: #d9c5a1;
  padding: 10px;
  text-align: center;
}

/* Text and image center */
.centerimg {
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto; 
  width:15%;
  height:15%;
  left:10px;
}

.centertxt {
  text-align:center;
  left:5%;
}

#nyan-cat {
  position: absolute;
  top: 0;
  max-width: 5%;
  max-height: 5%;
  left: -150px;
  display: none;
  z-index: 9999;
}

nav ul li:last-child {
  margin-left: auto;
}

nav ul li:last-child a {
  opacity: 0.2;
  transition: opacity 0.3s ease;
}

nav ul li:last-child a:hover {
  opacity: 1;
  color: red;
  animation: rainbow 1s infinite, wave 0.5s infinite;
}

@keyframes rainbow {
  0% {color: red;}
  14% {color: orange;}
  28% {color: yellow;}
  42% {color: lime;}
  57% {color: blue;}
  71% {color: indigo;}
  85% {color: violet;}
  100% {color: red;}
}

@keyframes wave {
  0%, 50%, 100% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
}